@media  screen and (max-width: 800px) and (min-width:624px)  {
   
    .h-primary{
        font-size: 2rem;
        /* background-color: black; */
    }
    .position{
        font-size: 1.2rem;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
    }
    .name1{
        font-size: 1.4rem;
    }
    .h-secondary{
        padding: 0;
        font-size: 1rem;
        
        /* width: 70%;         */
    }
    .navs{
        height: 0px;
        width: 100vw;
        position:fixed;
        overflow: hidden;
        z-index: 1;
    }
    .navs ul{
        display: flex;
        margin-top: -203px;
        margin-left: 1.8rem;
        font-size: 0.8rem;
        word-wrap:initial;
        float:none;
        justify-content: center;
        align-items: center;
        /* word-break: break-all; */
        /* flex-direction: row; */
        
    }
    .navs img{
        visibility: hidden;
    }
    .content{
        margin-left: 0px;
    }
}

@media screen  and (max-width: 624px) and (min-width:466px){
    .navs ul li{
        font-size: 0.7rem;
        margin: auto;
    }
    .h-primary{
        font-size: 1.5rem;
        /* background-color: black; */
    }
    .h-secondary{
        padding: 0px;
        font-size: 1rem;
    }
    .position{
        font-size: 0.9rem;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
    }
      .navs{
        height: 0px;
        width: 100vw;
        position:fixed;
        overflow: hidden;
        /* display: inline-block; */
        /* position: absolute; */
        z-index: 1;
        


    }
      .name1{
        font-size: 1rem;
      }
      .navs ul{
        display: flex;
        margin-top: -203px;
        font-size: 0.6rem;
        word-wrap:initial;
        float:none;
        justify-content: center;
        margin-left: 1.3rem;
        /* flex-wrap: wrap; */
        /* word-break: break-all; */
        /* flex-direction: row; */
        
    }
    .year{
        font-size: 0.2rem;
    }
    .navs img{
        visibility: hidden;
    }
    .content{
        margin-left: 0px;
    }
}
@media screen  and (max-width: 466px) and (min-width:378px){
    
      .h-primary{
        font-size: 1.3rem;
        /* background-color: black; */
    }
    .h-secondary{
        padding: 0px;
        font-size: 1rem;
    }
    .position{
        font-size: 0.9rem;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
    }
      .navs{
        height: 0px;
        width: 100vw;
        position:fixed;
        overflow: hidden;
        /* display: inline-block; */
        /* position: absolute; */
        z-index: 1;
        


    }
      .name1{
        font-size: 1rem;
      }
      .navs ul{
        display: flex;
        margin-top: -202px;
        font-size: 0.6rem;
        word-wrap:initial;
        float:none;
        flex-wrap: wrap;
        margin-left: -3rem;
        margin-right: -2rem;
        /* padding: -20px; */
        /* word-break: break-all; */
        /* flex-direction: row; */
        
    }
    .navs ul li{
        display: flex;
        padding: 7px;
        align-items: flex-end;
        /* margin: -20px; */
    }
    .year{
        font-size: 0.2rem;
    }
    .navs img{
        visibility: hidden;
    }
    .content{
        margin-left: 0px;
    }
}
@media screen  and (max-width: 378px){
    .h-primary{
        font-size: 1.3rem;
        /* background-color: black; */
    }
    .h-secondary{
        padding: 0px;
        font-size: 1rem;
    }
    .position{
        font-size: 0.9rem;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
    }
      .navs{
        height: 0px;
        width: 100vw;
        position:fixed;
        overflow: hidden;
        /* display: inline-block; */
        /* position: absolute; */
        z-index: 1;
        


    }
      .name1{
        font-size: 1rem;
      }
      .navs ul{
        display: flex;
        margin-top: -212px;
        font-size: 0.6rem;
        word-wrap:initial;
        float:none;
        flex-wrap: wrap;
        margin-left: -3rem;
        margin-right: -2rem;
        /* padding: -20px; */
        /* word-break: break-all; */
        /* flex-direction: row; */
        
    }
    .navs ul li{
        display: flex;
        padding: 7px;
        justify-content: center;
        align-items: center;
        
        /* margin: -20px; */
    }
    .year{
        font-size: 0.2rem;
    }
    .navs img{
        visibility: hidden;
    }
    .content{
        margin-left: 0px;
    }
}